header {display:block;background-color:#a1f1f1}
nav {display:block;background-color:#f1b1f1}
article {display:block;background-color:#f1f1c1}
footer {display:block;background-color:#a1f1f1}

.rowitem { display:inline-block; vertical-align:top }
